#!/usr/bin/env python
"""
{{ details.ccPluginPackage }}

Compliance Test Suite: {{ details.description }}
"""

import os
from netCDF4 import Dataset

# Import base objects from compliance checker
from compliance_checker.base import Result, BaseNCCheck

# Restrict which vocabs will load (for efficiency)
os.environ["ESSV_VOCABS_ACTIVE"] = "{{ project_metadata.vocab_authority }}"

# Import checklib
import checklib.checks


class {{ details.ccPluginClass }}(BaseNCCheck):
    register_checker = True
    name = '{{ details.ccPluginId }}'
    _cc_spec = '{{ details.ccPluginId }}'
    _cc_spec_version = '{{ project_metadata.checks_version }}'
    _cc_display_headers = {
        3: 'Required',
        2: 'Recommended',
        1: 'Suggested'
    }

    def setup(self, ds):
        pass

    {% for check in checks %}
    def check_{{ check.check_id }}(self, ds):
        return checklib.checks.{{ check.check_name }}(kwargs={{ check.kwargs }},
                                                    level="{{ check.check_level }}",
                                                    vocabulary_ref="{{ check.vocabulary_ref }}")(ds)
    {% endfor %}

